<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestPodSpecDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C79E86A91FC2AB0A003B7E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C79E86BD1FC2AB0A003B7E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C79E86C81FC2AB0A003B7E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
